<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tokend.template">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".base.activities.SignInActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base.activities.signup.SignUpActivity"
            android:label="@string/sign_up"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".base.activities.RecoveryActivity"
            android:label="@string/recover_account"
            android:theme="@style/AppTheme" />
        <activity android:name=".base.activities.qr.ShareQrActivity" />
        <activity android:name=".base.activities.MainActivity" />
        <activity
            android:name=".base.activities.signup.RecoverySeedActivity"
            android:label="@string/save_recovery_seed"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".base.activities.tx_details.PaymentDetailsActivity"
            android:label="@string/payment_details_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".base.activities.tx_details.UnknownTxDetailsActivity"
            android:label="@string/transaction_details_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".base.activities.tx_details.DepositDetailsActivity"
            android:label="@string/deposit_details_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".base.activities.tx_details.WithdrawalDetailsActivity"
            android:label="@string/withdrawal_details_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".base.activities.tx_details.InvestmentDetailsActivity"
            android:label="@string/investment_details_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".base.activities.tx_details.OfferMatchDetailsActivity"
            android:label="@string/offer_match_details_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".base.activities.ChangePasswordActivity"
            android:label="@string/change_password_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".features.withdraw.WithdrawalConfirmationActivity"
            android:label="@string/withdrawal_confirmation_title"
            android:theme="@style/AppTheme.CardsBackground"/>
    </application>

</manifest>