<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.tokend.template">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".features.kyc.files.util.WaitForFilePickForegroundService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".features.signin.SignInActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.signup.SignUpActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".features.recovery.RecoveryActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".features.changepassword.ChangePasswordActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".features.withdraw.WithdrawalConfirmationActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.assets.details.view.AssetDetailsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".features.send.PaymentConfirmationActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.offers.OfferConfirmationActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.invest.view.InvestmentConfirmationActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.offers.OffersActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".features.links.ProcessLinkActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize">

            <!-- Uncomment to enable links opening in app -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


            <!-- <data -->
            <!-- android:host="@string/app_host" -->
            <!-- android:scheme="http" /> -->
            <!-- <data -->
            <!-- android:host="@string/app_host" -->
            <!-- android:scheme="https" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activities.SingleFragmentActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".features.invest.view.SaleActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".features.history.details.AmlAlertDetailsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.history.details.IssuanceDetailsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.history.details.OfferMatchDetailsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.history.details.InvestmentDetailsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.history.details.PaymentDetailsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.history.details.WithdrawalDetailsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.offers.view.details.PendingOfferDetailsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.offers.view.details.PendingInvestmentDetailsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.history.details.AssetPairUpdateDetailsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.history.details.DefaultBalanceChangeDetailsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.trade.TradeActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".features.offers.CreateOfferActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".features.limits.view.LimitsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".features.fees.view.FeesActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".features.invest.view.SaleInvestActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".features.signin.unlock.UnlockAppActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".features.qr.ScanQrActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".features.balances.view.BalanceDetailsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".features.assets.buy.BuyWithAtomicSwapActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".features.signin.LocalAccountSignInActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".features.localaccount.view.LocalAccountDetailsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".features.localaccount.importt.view.ImportLocalAccountActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".features.userkey.pin.PinCodeActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".features.userkey.pin.SetUpPinCodeActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".features.deposit.view.DepositAmountActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".features.kyc.view.SetKycActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".features.kyc.capture.view.CameraCaptureActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />
    </application>

</manifest>