<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tokend.template">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".base.activities.SignInActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base.activities.signup.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/sign_up"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".base.activities.RecoveryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/recover_account"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".base.activities.qr.ShareQrActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".base.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".base.activities.signup.RecoverySeedActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/save_recovery_seed"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".base.activities.tx_details.PaymentDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/payment_details_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".base.activities.tx_details.UnknownTxDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/transaction_details_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".base.activities.tx_details.DepositDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/deposit_details_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".base.activities.tx_details.WithdrawalDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/withdrawal_details_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".base.activities.tx_details.OfferMatchDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/offer_match_details_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".base.activities.ChangePasswordActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/change_password_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".features.withdraw.WithdrawalConfirmationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/withdrawal_confirmation_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".features.explore.AssetDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".base.activities.PaymentConfirmationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/payment_confirmation_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".features.trade.OfferConfirmationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/offer_confirmation_title"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".base.activities.OffersActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/pending_offers_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".base.activities.ProcessLinkActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/app_host"
                    android:scheme="http" />
                <data
                    android:host="@string/app_host"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base.activities.SingleFragmentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.invest.activities.SaleActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.CardsBackground" />
        <activity
            android:name=".features.invest.activities.InvestmentDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/investment_details_title"
            android:theme="@style/AppTheme.CardsBackground" />
    </application>
</manifest>